{% extends 'base.html' %}

{% block content %}

<div class="container">
	<h1 class="heading">Our Story</h1>
	
	<div class="content-container">
		<div class="container-fluid">
			<h2 class="font-weight-bold text-center">Definition by IUCN</h2>
			<p class="text-content">International Union for Conservation of Nature (IUCN) defines Forest Landscape Restoration (FLR) as a long-term process to regain ecological functionality and enhance human well-being in deforested or degraded landscapes, in biomes with the natural potential to support trees. It requires integrating with other land uses, delivery of a broader range of societal benefits and a vision for a better managed landscape.</p>
			<h2 class="font-weight-bold text-center">Background</h2>
			<p class="text-content">FLR was launched by Sarawak Chief Minister Datuk Patinggi Abang Johari Openg on 15 June 2019 at Sabal Agroforestry Centre. The principles behind the restoration of forest is nothing new in Sarawak as it existed as early as 1920s, through the gazettement of Totally Protected Areas (TPAs) and Permanent Forest Estates (PFEs).</p>
			<h2 class="font-weight-bold text-center">Objectives</h2>
			<p class="text-content">1. To enrich logged-over areas with high value timber species especially on degraded areas to ensure the forests remain vibrant and able to carryout its natural functions;</p>
			<p class="text-content">2. To elevate livelihood of forest-dependent communities, and;</p>
			<p class="text-content">3. To reduce pressure on natural forests by shifting timber production towards plantations of indigenous fast -growing species</p>
		</div>
	</div>
</div>

{% endblock %}