{% extends 'base.html' %}

{% block content %}

<div class="container">
	
	<div class="content-container">
		<div class="container-fluid p-4">
			<h3><strong>Our Story</strong></h3>
			<br>
			<h4>Definition by IUCN</h4>
			<p>International Union for Conservation of Nature (IUCN) defines Forest Landscape Restoration (FLR) as a long-term process to regain ecological functionality and enhance human well-being in deforested or degraded landscapes, in biomes with the natural potential to support trees. It requires integrating with other land uses, delivery of a broader range of societal benefits and a vision for a better managed landscape.</p>
			<br>
			<h4>Background</h4>
			<p>FLR was launched by Sarawak Chief Minister Datuk Patinggi Abang Johari Openg on 15 June 2019 at Sabal Agroforestry Centre. The principles behind the restoration of forest is nothing new in Sarawak as it existed as early as 1920s, through the gazettement of Totally Protected Areas (TPAs) and Permanent Forest Estates (PFEs).</p>
			<br>
			<h4>Our Initiatives</h4>
			<p>1. Establishment of FLR Task Force;</p>
			<p>2. Revive and establish nurseries;</p>
			<p>3. Leverage on Technology and Data Management;</p>
			<p>4. Enhance Communication, Education and Pubic Awareness (CEPA);</p>
			<p>5. Intensity Research and Development;</p>
			<p>6. Collaboration with other relevant stakeholders & engagement with local communities</p>
			<br>
			<h4>Our Goals</h4>
			<p>1. Regain ecological functionality of forest in Sarawak;</p>
			<p>2. Enhance human well-being and livelihood of forest-dependent communities;</p>
			<p>3. Re-establish the structure, productivity, and species diversity of forest;</p>
			<p>4. Ensure sufficient future timber stocking for sustainable forest management;</p>
		</div>
	</div>
</div>

{% endblock %}