{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid p-0" style="position: relative;">
	<img class="w-100" src="{% static 'img/about_main_img.png' %}">
	<div class="carousel-caption">
		<h1 class="font-weight-bold">Our Story</h1>
		<p>It started with a humble endeavor. It will end with a legacy.</p>
		<i class="fa fa-angle-down bounce"></i>
	</div>
</div>

<div class="container">
	<div class="content-container">
		<div class="container-fluid p-4">
			<br>
			<h4>Definition by IUCN</h4>
			<p>International Union for Conservation of Nature (IUCN) defines Forest Landscape Restoration (FLR) as a long-term process to regain ecological functionality and enhance human well-being in deforested or degraded landscapes, in biomes with the natural potential to support trees. It requires integrating with other land uses, delivery of a broader range of societal benefits and a vision for a better managed landscape.</p>
			<br>
			<h4>Background</h4>
			<p>FLR was launched by Sarawak Chief Minister Datuk Patinggi Abang Johari Openg on 15 June 2019 at Sabal Agroforestry Centre. The principles behind the restoration of forest is nothing new in Sarawak as it existed as early as 1920s, through the gazettement of Totally Protected Areas (TPAs) and Permanent Forest Estates (PFEs).</p>
			<br>
			<h4>Our Initiatives</h4>
			<p>1. Establishment of FLR Task Force;</p>
			<p>2. Revive and establish nurseries;</p>
			<p>3. Leverage on Technology and Data Management;</p>
			<p>4. Enhance Communication, Education and Pubic Awareness (CEPA);</p>
			<p>5. Intensity Research and Development;</p>
			<p>6. Collaboration with other relevant stakeholders & engagement with local communities</p>

			<hr>
			<!--Timeline-->
			<div class="mb-4">
				<h4 class="mb-4">TIMELINE</h4>
				<h4>1920</h4>
				<figure class="figure">
					<!--width: 458px -->
					<img class="w-100" src="{% static 'img/1920.png' %}">
					<figcaption class="figure-caption">1936 Experimental plantation in Semengoh Forest Reserve. The large tree are engkabang jantong <i>(Shorea gysberisicma)</i> and the small leafy trees on the right are belian <i>(Ensideroxylon wageri)</i>. Both species were planted at the same time.</figcaption>
				</figure>
				<p class="mb-4">In 1920s, efforts were made to test both indigenous and exotic species in Sarawak. The forest plantation started the Engkabang group which are the important producers of the illipenut.</p>

				<h4>1940</h4>
				<figure class="figure">
					<img class="w-100" src="{% static 'img/1940.png' %}">
					<figcaption class="figure-caption">Enkabang jantong <i>(Shorea gysbertsiana)</i></figcaption>
				</figure>
				<p class="mb-4">The beginning of planting experiments with various exotic and indigenous species aswell as nursery experiments and small scale tapping experiments.</p>

				<h4>1956</h4>
				<figure class="figure">
					<img class="w-100" src="{% static 'img/1956.png' %}">
					<figcaption class="figure-caption">Ranggu <i>(Melia excelsa)</i> planted in conjunction with hill rice.</figcaption>
				</figure>
				<p class="mb-4">The introduction of scheme for timber plantations (mainly Ranggu and Durian) with hill rice in Sungai Semengoh Forest Reserve.</p>

				<h4>1965</h4>
				<p class="mb-4">Reforestation Research Programme was drawn up and implemented in the First Malaysia Plan.</p>

				<h4>1970 - 1979</h4>
				<p>Forestry Department began experimenting with some of the fast-growing exotic tropical hardwoods. Species with longer rotations were also added to the list.</p>

				<h4>1980 - 1990</h4>
				<p class="mb-4">Reforestation of ex-shifting cultivation sites along the foot hills of Gunung Gading FR, Semenggoh FR and Sampadi FR.</p>

				<h4>1991 - 1995</h4>
				<p class="mb-4">The agroforestry project at Sabal FR had brought significant benefits to the communities involved through participation in various projects such as the Cocoa/Durian project, cattle project and fishpond project. These projects aimed to raise the income level and improve the living standards of the communities.</p>

				<h4>1996</h4>
				<img class="w-100 mb-4" src="{% static 'img/1996.png' %}">
				<p class="mb-4">The Chief Minister stated that the state had reached its peak in producing timber and needed to find better ways to sustain timber resources. State's timber industry will be better off if it embark on reforestation with fast growing species as a mean to supplement timber production.</p>

				<h4>1998</h4>
				<img class="w-100 mb-4" src="{% static 'img/1998.png' %}">
				<p class="mb-4">International Conference was held in Kuching to get the experience of the people who had developed planted forest elsewhere and that could give insights on how it can be done in Sarawak.</p>

				<h4>2000 - 2010</h4>
				<p class="mb-4">Agroforestry Projects were implemented in 3 main localities; Sabal Agrofrestry Centre, Balai Ringin PF, Niah FR, FOMISS-SAMLING Pilot Area, Ulu Baram and Kampung Silok, Lundu.</p>

				<h4>2011 - 2018</h4>
				<p class="mb-4">The establishment of planted forest is a long-term strategy towards providing alternative source of raw material for wood-based industries in Sarawak.</p>

				<h4>2019 - Future</h4>
				<img class="w-100 mb-2" src="{% static 'img/future.png' %}">
				<img class="w-100 mb-2" src="{% static 'img/future-3.png' %}">
				<img class="w-100 mb-2" src="{% static 'img/future-4.png' %}">
				<img class="w-100 mb-2" src="{% static 'img/future-2.png' %}">
				<p class="mb-4">Forest restoration has become one of the main agenda of Sarawak Government to enrich the logged-over areas with high-value timber species throughout Sarawak, especially on the degraded areas within the Permanent Forest Estate (PFE).</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}