{% extends 'base.html' %}

{% load static %}

{% block content %}
	
<!-- Showcase -->
	<div class="hero-image" style="background-image: url('{% static 'img/showcase.png' %}');">
		<div class="hero-text">
			<h1 class="hero-header">Towards Greener Generation</h1>
			<p class="text-content">To regain ecological functionality and enhance human well-being across deforested and degraded area of forest. It's not just planting trees - it's restoring a whole landscape to offer benefits and land uses over time.</p>
			<br>
			<input class="form-control" type="text" placeholder="Search" aria-label="Search">
		</div>
	</div>

	<!-- Latest Stories -->

	{% include '_include/latest_stories.html' %}

	<!-- End Latest Stories -->

	<!-- SGC -->
	<div class="container mt-5 mb-5">
		<div class="container-fluid p-4 border rounded shadow">
		<div class="row">
			<div class="col-sm-6">
				<img class="w-100 mb-4" src="{% static 'img/sgc.png' %}">
			</div>
			<div class="col-sm-6">
				<h3 class="font-weight-bold">Sarawak Government Commitment</h3>
				<p>Sarawak Chief Minister Datuk Patinggi Abang Johari Openg said today forest restoration is one of the main agenda of the state government from this year onward to enrich the logged-over areas with high value timber species, especially on degraded areas within permanent forest estates.</p>
				<p>“This is to ensure that Sarawak’s forest remains vibrant and its complex eco-system could carry out its natural functions,” he said. He said this will also ensure that the state has sufficient future timber stocking for sustainable production.</p>
				<p id="citation">Source: Malay Mail, Image: Bernama, Date: 7th March 2019</p>
				<a class="btn btn-info" href="https://www.malaymail.com/news/malaysia/2019/03/07/forest-restoration-a-major-agenda-for-sarawak-cm-says/1730036" target="_blank">Learn More</a>
			</div>
		</div>
	</div>
	</div>

	<!-- Objectives -->
	<div style="background-image: url('static/img/background-img.jpg'); background-repeat: no-repeat; background-size: cover;">
		<div class="container mt-5 mb-5 pt-5 pb-5">
			<div class="container-fluid border rounded shadow p-4" style="background-color: #fff;">
				<div class="row">
				<div class="col-sm-8">
					<h3 class="font-weight-bold pb-4 ">Our Goals</h3>
					<p>1. Regain ecological functionality of forest in Sarawak</p>
					<p>2. Enhance human well-being and livelihood of forest-dependent communities </p>
					<p>3. Re-establish the structure, productivity, and species diversity of forest</p>
					<p>4. Ensure sufficient future timber stocking for sustainable forest management</p>
					<div class="pt-4">
						<a class="btn btn-info" href="{% url 'why' %}">Why does it matter</a>
					</div>
				</div>
				<div class="col-sm-4 mt-4">
					<img class="container-fluid" src="{% static 'img/engkabang.png' %}">
				</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	<!-- Video -->
	<div class="container mt-5 mb-5">
		<h3 class="mb-4">A Brief Story of Restoration</h3>
		<div class="embed-responsive embed-responsive-16by9">
	  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=ZSPkcpGmflE&list=PLk_PXVm7CuOsKvGQv9dcCWaovncOsgRty&index=1&t=159s" allowfullscreen></iframe>
		</div>
	</div>

	<!-- Data and planting -->
	<div class="container mt-5 mb-5">
		<h3>Explore</h3>
		<br>
		<div class="row">
			<div class="col-sm-6 mb-4">
				<div class="card">
  					<div class="" style="position: relative; text-align: left;">
  						<img class="card-img-top" src="{% static 'img/explore_data.png' %}" height="300">
  						<div class="container" style="position: absolute; color: white; bottom: 8px; left: 10px;">
  							<p style="font-size: 20px;">Data has a better idea</p>
  						</div>
  					</div>
  					<div class="card-body">
   						<h5 class="card-title">Data</h5>
    					<p class="card-text">We use data-driven approach to enhance our capability</p>
    					<a href="{% url 'data' %}" class="btn btn-info">Discover</a>
  					</div>
				</div>
			</div>
			<div class="col-sm-6 mb-4">
				<div class="card">
					<div class="" style="position: relative; text-align: left;">
  						<img class="card-img-top" src="{% static 'img/explore_planting.png' %}" height="300">
  						<div class="container" style="position: absolute; color: white; bottom: 8px; left: 10px;">
  							<p style="font-size: 20px;">Together, we can do much more</p>
  						</div>
  					</div>
  					<div class="card-body">
   						<h5 class="card-title">Planting Program</h5>
    					<p class="card-text">Forest restoration requires collaboration from everyone</p>
    					<a href="{% url 'planting_index' %}" class="btn btn-info">Join Now</a>
  					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Partnership -->
	<div class="container mt-5 mb-5">
		<h3>Our Partners</h3>
		<br>
		<p>Partnership between both public and private organizations is crucial to ensure the success of forest restoration. For some organizations, Memorandum of Understanding (MoU) commemorates the partnership. For others, the partnership embodies collaboration for planting programs, data sharing, solving the same issues and having mutual understanding and interest. </p>
		<div class="col">
			<div class="row justify-content-left">
				<img class="img-logo-box" src="{% static 'img/img_logo/sarawakenergy.png' %}" width="151" height="66">
				<img class="img-logo-box" src="{% static 'img/img_logo/jma.png' %}" width="122" height="36">
				<img class="img-logo-box" src="{% static 'img/img_logo/gppusaka.png' %}" width="148" height="52">
				<img class="img-logo-box" src="{% static 'img/img_logo/fujixerox.png' %}" width="128" height="25">
				<img class="img-logo-box" src="{% static 'img/img_logo/shell.png' %}" width="71" height="66">
				<img class="img-logo-box" src="{% static 'img/img_logo/taann.png' %}" width="58" height="60">
				<img class="img-logo-box" src="{% static 'img/img_logo/shinyang.png' %}" width="63" height="67">
				<img class="img-logo-box" src="{% static 'img/img_logo/rimbunanhijau.png' %}" width="56" height="79">
				<img class="img-logo-box" src="{% static 'img/img_logo/samling.png' %}" width="88" height="75">
				<img class="img-logo-box" src="{% static 'img/img_logo/simedarby.png' %}" width="81" height="81">
				<img class="img-logo-box" src="{% static 'img/img_logo/aeon.png' %}" width="82" height="27">
				<img class="img-logo-box" src="{% static 'img/img_logo/foressa.jpg' %}" width="85" height="51">
				<img class="img-logo-box" src="{% static 'img/img_logo/kembara.png' %}" width="80" height="54">
				<img class="img-logo-box" src="{% static 'img/img_logo/pbsm.png' %}" width="54" height="54">
			</div>
		</div>
	</div>

	<!--Subscription Form -->
	<!-- Default form subscription -->
	<div class="container">
		<form class="text-center border rounded shadow p-5" action="#!">
		    <h3>Stay in touch</h3>
		    <p>Join our newsletter to stay updated on our journey.</p>
		    <!-- Name -->
		    <div class="row">
		    	<div class="col-sm-6">
		    		<input type="text" id="defaultSubscriptionFormPassword" class="container-fluid form-control mb-4" placeholder="Name">
		    	</div>
		    	<div class="col-sm-6">
		    		<input type="email" id="defaultSubscriptionFormEmail" class="container-fluid form-control mb-4" placeholder="E-mail">
		    	</div>
		    </div>
		    <button class="btn btn-info" type="submit">Subscribe</button>
		</form>
	</div>
	<!-- Default form subscription -->

{% endblock %}