{% extends 'base.html' %}

{% load static %}

{% block content %}
	
<!-- Showcase -->
	<div class="hero-image" style="background-image: url('{% static 'img/showcase.png' %}');">
		<div class="hero-text">
			<h1 class="hero-header">Towards Greener Generation</h1>
			<p class="text-content">To regain ecological functionality and enhance human well-being across deforested and degraded area of forest. It's not just planting trees - it's restoring a whole landscape to offer benefits and land uses over time.</p>
			<br>
			<input class="form-control" type="text" placeholder="Search" aria-label="Search">
		</div>
	</div>

	<!-- Latest Stories -->
	<div class="container-fluid" style="background-color:#000; min-height: 100%;">	
		<div class="container h-100">
			<h1 class="heading" style="color:#fff;">Latest Stories</h1> 

				<!-- blog list section -->

			<div class="row">
				<div class="col-sm d-flex justify-content-center" style="margin: 20px;">
					<div class="card" style="width: 18rem;">
	  					<img class="card-img-top" src="{% static 'img/showcase.png' %}" height="200">
	  					<div class="card-body">
	  						<h5>Program Penanaman Somethin di Something Sempena Something</h5>
	  						<p class="text-muted">Author</p>
	  					</div>
	  					<div class="card-body d-flex align-items-end">
	  						<a href="blog_post.html"><button type="button" class="btn btn-info">Read More</button></a>
	  					</div>
	  					<div class="card-footer">
	  						<small class="text-muted">Last updated on 30 September</small>
	  					</div>
					</div>
				</div>

				<div class="col-sm d-flex justify-content-center" style="margin: 20px;">
					<div class="card" style="width: 18rem;">
	  					<img class="card-img-top" src="{% static 'img/showcase.png' %}" height="200">
	  					<div class="card-body">
	  						<h5>Program Penanaman Somethin di Something Sempena Something</h5>
	  						<p class="text-muted">Author</p>
	  					</div>
	  					<div class="card-body d-flex align-items-end">
	  						<a href="blog_post.html"><button type="button" class="btn btn-info">Read More</button></a>
	  					</div>
	  					<div class="card-footer">
	  						<small class="text-muted">Last updated on 30 September</small>
	  					</div>
					</div>
				</div>

				<div class="col-sm d-flex justify-content-center" style="margin: 20px;">
					<div class="card" style="width: 18rem;">
	  					<img class="card-img-top" src="{% static 'img/showcase.png' %}" height="200">
	  					<div class="card-body">
	  						<h5>Program Penanaman Somethin di Something Sempena Something</h5>
	  						<p class="text-muted">Author</p>
	  					</div>
	  					<div class="card-body d-flex align-items-end">
	  						<a href="blog_post.html"><button type="button" class="btn btn-info">Read More</button></a>
	  					</div>
	  					<div class="card-footer">
	  						<small class="text-muted">Last updated on 30 September</small>
	  					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

	<!-- Objectives -->
	<div class="container" style="">
		<h1 class="heading">Our Goals</h1>
		<div class="objective-container">
			<div class="content-container container-fluid">
				<p class="text-content font-weight-bold">1. To enrich logged-over areas with high value timber species especially on degraded areas to ensure the forests remain vibrant and able to carry out its natural functions</p>
				<p class="text-content font-weight-bold">2. To elevate livelihood of forest-dependent communities</p>
				<p class="text-content font-weight-bold">3. To reduce pressure on natural forests by shifting timber production towards plantations of indigeneous fast-growing species</p>
				<div class="container-fluid" style="text-align: center; padding: 30px 0;">
					<a class="btn btn-info" href="#">Why it matters?</a>
				</div>
			<div class="col">
				<hr class="container-fluid">
			</div>
			</div>
		</div>
	</div>

	<br>

	<!-- SGC -->
	<div class="container shadow p-3 mb-5 bg-white rounded">
		<div class="">
			<h1 class="heading">Sarawak Government Commitment</h1>
			<div class="objective-container">
				<div class="col">
					<img class="container-fluid" src="{% static 'img/sgc.png' %}">
				</div>
				<div class="col">
					<p class="text-content">Sarawak Chief Minister Datuk Patinggi Abang Johari Openg said today forest restoration is one of the main agenda of the state government from this year onward to enrich the logged-over areas with high value timber species, especially on degraded areas within permanent forest estates.</p>
					<p class="text-content">“This is to ensure that Sarawak’s forest remains vibrant and its complex eco-system could carry out its natural functions,” he said. He said this will also ensure that the state has sufficient future timber stocking for sustainable production.</p>
					<p id="citation">Source: Malay Mail, Image: Bernama, Date: 7th March 2019</p>
					<a class="btn btn-info" href="https://www.malaymail.com/news/malaysia/2019/03/07/forest-restoration-a-major-agenda-for-sarawak-cm-says/1730036" target="_blank">Learn More</a>
				</div>
			</div>
		</div>
	</div>

	<br>

	<!-- Video -->
	<div class="container">
		<h1 class="heading">A Brief Story of Restoration</h1>
		<p class="text-content text-center">**contoh video</p>
		<div class="embed-responsive embed-responsive-16by9">
	  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=ZSPkcpGmflE&list=PLk_PXVm7CuOsKvGQv9dcCWaovncOsgRty&index=1&t=159s" allowfullscreen></iframe>
		</div>
	</div>

	<!-- Data and planting -->
	<div class="container">
		<h1 class="heading">Explore</h1>
		<div class="row mx-auto">
			<div class="col">
				<div class="card" style="width: 18rem;">
  					<img class="card-img-top" src="img/objectives.png" height="300">
  					<div class="card-body">
   						<h5 class="card-title">Data</h5>
    					<p class="card-text">We use data-driven approach to enhance our capability</p>
    					<a href="#" class="btn btn-info">Discover</a>
  					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
  					<img class="card-img-top" src="img/objectives.png" height="300" >
  					<div class="card-body">
   						<h5 class="card-title">Data</h5>
    					<p class="card-text">We use data-driven approach to enhance our capability</p>
    					<a href="#" class="btn btn-info">Discover</a>
  					</div>
				</div>
			</div>
			<div class="col">
				<div class="card" style="width: 18rem;">
  					<img class="card-img-top" src="img/objectives.png" height="300">
  					<div class="card-body">
   						<h5 class="card-title">Data</h5>
    					<p class="card-text">We use data-driven approach to enhance our capability</p>
    					<a href="#" class="btn btn-info">Discover</a>
  					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Partnership -->
	<div class="container">
		<h1 class="heading">Our Partners</h1>
		<div class="partnership-container">
			<br>
			<div class="col">
				<p class="text-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. 
				<div class="row justify-content-center">
					<img class="img-logo-box" src="{% static 'img/img_logo/sarawakenergy.png' %}" width="151" height="66">
					<img class="img-logo-box" src="{% static 'img/img_logo/jma.png' %}" width="122" height="36">
					<img class="img-logo-box" src="{% static 'img/img_logo/gppusaka.png' %}" width="148" height="52">
					<img class="img-logo-box" src="{% static 'img/img_logo/fujixerox.png' %}" width="128" height="25">
					<img class="img-logo-box" src="{% static 'img/img_logo/shell.png' %}" width="71" height="66">
					<img class="img-logo-box" src="{% static 'img/img_logo/taann.png' %}" width="58" height="60">
					<img class="img-logo-box" src="{% static 'img/img_logo/shinyang.png' %}" width="63" height="67">
					<img class="img-logo-box" src="{% static 'img/img_logo/rimbunanhijau.png' %}" width="56" height="79">
					<img class="img-logo-box" src="{% static 'img/img_logo/samling.png' %}" width="88" height="75">
					<img class="img-logo-box" src="{% static 'img/img_logo/simedarby.png' %}" width="81" height="81">
					<img class="img-logo-box" src="{% static 'img/img_logo/aeon.png' %}" width="82" height="27">
					<img class="img-logo-box" src="{% static 'img/img_logo/foressa.jpg' %}" width="85" height="51">
					<img class="img-logo-box" src="{% static 'img/img_logo/kembara.png' %}" width="80" height="54">
					<img class="img-logo-box" src="{% static 'img/img_logo/pbsm.png' %}" width="54" height="54">
				</div>
			</div>
		</div>
	</div>

		<!--Subscription Form -->
		<!-- Default form subscription -->
	<div class="container">
		<form class="text-center border border-light p-5" action="#!">
		    <p class="heading">Stay in touch</p>
		    <p>Join our newsletter to stay updated on our journey.</p>
		    <!-- Name -->
		    <div class="row">
		    	<div class="col-sm-6">
		    		<input type="text" id="defaultSubscriptionFormPassword" class="container-fluid form-control mb-4" placeholder="Name">
		    	</div>
		    	<div class="col-sm-6">
		    		<input type="email" id="defaultSubscriptionFormEmail" class="container-fluid form-control mb-4" placeholder="E-mail">
		    	</div>
		    </div>
		    <button class="btn btn-info" type="submit">Subscribe</button>
		</form>
	</div>
	<!-- Default form subscription -->

{% endblock %}