{% extends 'base.html' %}

{% block content %}

				<!-- Grid row -->
				<!-- Head of Department -->
				<h1 class="h1-responsive font-weight-bold my-5">Head of Department</h1>
				<div class="row">
					<!-- Grid column -->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>
				</div>

				<br>
				<hr>
				<br>

				<!-- Officer-->
				<h1 class="h1-responsive font-weight-bold my-5">Personnel</h1>
				<div class="row">
					<!-- Grid column -->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="img/avatar.png">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>
				</div>
			</section>
		</div>
	</div>

{% endblock %}