{% extends 'base.html' %}

{% load static %}

{% block content %}

	<div class="container">
		<h1 class="heading">FLR Task Force</h1>
		<div class="organization-container">
			<section class="team-section text-center my-5">
				<div class="container text-center">

					<!-- Director -->
					<h1 class="h1-responsive font-weight-bold my-5">Director</h1>
					<div class="row">
						<div class="col">
							<div class="avatar mx-auto">
							<!-- 150px x 150px -->
								<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
							</div>
							<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
							<p class="text-uppercase"><strong>Jawatan</strong></p>
							<div class="d-flex justify-content-center">
							<p class="grey-text container-fluid col-lg-3">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        					adipisci sed quia non numquam modi tempora eius.</p>
        					</div>
						</div>
					</div>
				</div>

				<br>
				<hr>
				<br>

				<!-- Grid row -->
				<!-- Head of Department -->
				<h1 class="h1-responsive font-weight-bold my-5">Head of Department</h1>
				<div class="row">
					<!-- Grid column -->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 150px x 150px -->
							<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>
				</div>

				<br>
				<hr>
				<br>

				<!-- Officer-->
				<h1 class="h1-responsive font-weight-bold my-5">Personnel</h1>
				<div class="row">
					<!-- Grid column -->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>

					<!--Grid column-->
					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">
							<!-- 250px x 250px -->
							<img class="rounded-circle z-depth-1" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Jawatan</strong></p>
						<p class="grey-text container-fluid">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        				adipisci sed quia non numquam modi tempora eius.</p>
					</div>
				</div>
			</section>
		</div>
	</div>

{% endblock %}