{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="team-background">
	<div class="team-container">
		<h3 class="font-weight-bold my-4 text-center text-white">Our Team</h3>
		<div class="row justify-content-center mb-4">
			<div class="col-sm-4 rounded bg-white">
				<div class="mt-4 p-0 text-left">
					<img class="w-100" src="{% static 'img/df.png' %}">
				</div>
				<div class="p-2">
					<h4>Datu Hamden Hj Mohammad</h4>
					<p class="team-text">Chairman</p>
				</div>
			</div>
		</div>

		<div class="row d-flex justify-content-between">
			<div class="col-sm-4 rounded mb-4 bg-white">
				<div class="mt-4 p-0 text-right">
					<img class="w-100" src="{% static 'img/ddf.png' %}">
				</div>
				<div class="p-2">
					<h4>Jack Liam</h4>
					<p class="team-text">Co-Chairman</p>
				</div>
			</div>

			<div class="col-sm-4 rounded mb-4 bg-white">
				<div class="mt-4 p-0 text-right">
					<img class="w-100" src="{% static 'img/rifd.png' %}">
				</div>
				<div class="p-2">
					<h4>Zarina Haji Shebli</h4>
					<p class="team-text">Secretariat</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container my-4">
	<div class="container-fluid border shadow rounded p-4">
		<div class="row">
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
				<h4>1. Secretariat</h4>
				<div class="mx-auto text-center">
					
				</div>
				<p>Restoration and Industrial Forest Division</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
				<div class="mx-auto">
					<!--Img goes here -->	
				</div>
				<h4>2. Research and Development</h4>
				<div class="mx-auto">
	
				</div>
				<p>Research Development and Innovation Division</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
				<div class="mx-auto">
					<!-- Img goes here -->
				</div>
				<h4>3. Promotion and Event</h4>
				<p>Corporate and Media Unit</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
				<div class="mx-auto">
					<!-- Img goes here -->
				</div>
				<h4>4. Nursery Management</h4>
				<p>Restoration and Industrial Forest Division</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
				<div class="mx-auto">
					<!--Img goes here -->
				</div>
				<h4>5. Planting and Monitoring</h4>
				<p>Restoration and Industrial Forest Division</p>
				<p>Regional Forest Office</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
				<div class="mx-auto">
					<!-- Img goes here -->
				</div>
				<h4>6. PFE Boundary Demarcation</h4>
				<p>Constitution and Conservation Division</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
				<div class="mx-auto">
					<!-- Img goes here -->
				</div>
				<h4>7. Communication, Education and Public Awareness (CEPA)</h4>
				<p>Social Forestry Division</p>
			</div>
			<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
				<div class="mx-auto">
					<!-- Img goes here -->
				</div>
				<h4>8. Technology and Data Management</h4>
				<p>Forest Technology and Geospatial</p>
			</div>
		</div>
	</div>
</div>

	<!--<div class="container">
		<h1 class="heading">FLR Task Force</h1>
		<img src="{% static 'img/df.png' %}">
		<div class="organization-container">
			<section class="team-section text-center my-5">
				<div class="container text-center">

		
					<h1 class="h1-responsive font-weight-bold my-5"></h1>
					<div class="row">
						<div class="col">
							<div class="avatar mx-auto">

								<img class="rounded-circle z-depth-1 shadow" width="150" height="150" src="{% static 'img/df.png' %}">
							</div>
							<h5 class="font-weight-bold mt-4 mb-3">Datu Hamden bin Haji Mohammad</h5>
							<p class="text-uppercase"><strong>Chairman</strong></p>
							<div class="d-flex justify-content-center">
								<p class="grey-text container-fluid col-lg-3"></p>
        					</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="container text-center">

					<h1 class="h1-responsive font-weight-bold my-5"></h1>
					<div class="row">
						<div class="col">
							<div class="avatar mx-auto">

								<img class="rounded-circle z-depth-1 shadow" width="150" height="150" src="{% static 'img/ddf.png' %}">
							</div>
							<h5 class="font-weight-bold mt-4 mb-3">Jack anak Liam</h5>
							<p class="text-uppercase"><strong>Co-chairman</strong></p>
							<div class="d-flex justify-content-center">
							<p class="grey-text container-fluid col-lg-3"></p>
        					</div>
						</div>
					</div>
				</div>

				<br>
				<hr>
				<br>

				<div class="container text-center">


					<h1 class="h1-responsive font-weight-bold my-5"></h1>
					<div class="row">
						<div class="col">
							<div class="avatar mx-auto">

								<img class="rounded-circle z-depth-1 shadow" width="150" height="150" src="{% static 'img/rifd.png' %}">
							</div>
							<h5 class="font-weight-bold mt-4 mb-3">Zarina Haji Shebli</h5>
							<p class="text-uppercase"><strong>Secretariat</strong></p>
							<div class="d-flex justify-content-center">
							<p class="grey-text container-fluid col-lg-3"></p>
        					</div>
						</div>
					</div>

					<hr>




				<h1 class="h1-responsive font-weight-bold my-5"></h1>
				<div class="row">

					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">

							<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Secretariat</strong></p>
						<p class="grey-text container-fluid"></p>
					</div>

					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">

							<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Secretariat</strong></p>
						<p class="grey-text container-fluid"></p>
					</div>

					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">

							<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Secretariat</strong></p>
						<p class="grey-text container-fluid"></p>
					</div>

					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">

							<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Secretariat</strong></p>
						<p class="grey-text container-fluid"></p>
					</div>

					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">

							<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Secretariat</strong></p>
						<p class="grey-text container-fluid"></p>
					</div>

					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">

							<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Secretariat</strong></p>
						<p class="grey-text container-fluid"></p>
					</div>

					<div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
						<div class="avatar mx-auto">

							<img class="rounded-circle z-depth-1" width="150" height="150" src="{% static 'img/avatar.png' %}">
						</div>
						<h5 class="font-weight-bold mt-4 mb-3">Nama Orang</h5>
						<p class="text-uppercase"><strong>Secretariat</strong></p>
						<p class="grey-text container-fluid"></p>
					</div>


				</div>

				<br>
				<hr>
				<br>

				
			</section>
		</div>
	</div>-->

{% endblock %}