{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="content-container p-4">

		<h3>Why does it matters?</h3>
		<br>
		<h4>1. To enrich logged-over areas with high value timber species</h4>
		<p>Sarawak is renowned with its timber resources and the forest diversity is vast with various species of high value timber. For the past decades, Sarawak forest has experienced degradation as the result of logging due to high global market demand for timber supply, not to mention the increasing number of illegal logging. </p>
		<p>In order to prevent further degradation of land, those logged-over areas are restored with new species. Only this time, the new strategy is to fill the logged-over areas with high value timber species. This approach is vital to ensure the maximum productivity of forest products in the long run. At the same time, the approach preserves biodiversity and keeps the ecosystem in balance.</p>
		<br>
		<h4>2. To restore and conserve degraded forests in Permanent Forest Estate (PFE) and State land</h4>
		<p>The Sarawak government has gazetted 6 million hectares of state forest as Permanent Forest Estate (PFE) whereas 1 million hectares has been designated as Totally Protected Area (TPA). PFE and TPA serve the sole purpose of sustainable forest management. In Sarawak, there are 3 areas of concern which are PFE, TPA and State Land.</p>
		<p>All these designated areas had been degraded over time as the result of natural causes and human activities. The gazettement of PFE and State Land is the first initiative to bring back the degraded forests area into its greener state.  After years of planning and execution, the most holistic and promising way to save the forest is through restoration and conservation effort.</p>
		<br>
		<h4>3. To alleviate livelihood of forest dependent communities</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<br>
		<h4>4. To reduce pressure on natural forest by shifting timber production towards plantation of indigenous fast growing species</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>

{% endblock %}