{% extends 'base.html' %}

{% block content %}

<div class="container" style="min-height: 100%">
	<h1 class="heading" style="color: #d3d3d3">Data</h1>
	<div class="border rounded">
		<div class="m-4">
			{% include 'data/_include/analytics_overview.html' %}
		</div>
	</div>
	<br>
	<div class="border rounded">
		<div class="m-4">
			<h3>Tree Species</h3>
			<p>You can view all the species that we have planted, cultivated and studied in this master data list.</p>
			<a href="{% url 'tree_species' %}" class="btn btn-info">View species</a>
		</div>
	</div>
	<br>
	<div class="border rounded">
		<div class="m-4">
			<h3>Nurseries</h3>
			<p>Our nurseries are home for the seedlings. This section outlines the general information of each nursery such as geographical data, species planted at each nursery and the total species each nursery has.</p>
			<a href="{% url 'nursery' %}" class="btn btn-info">View nursery</a>
		</div>
	</div>

</div>

{% endblock %}