{% extends 'base.html' %}

{% block content %}

<div class="content-container container">

	<div class="border rounded shadow mt-4">
		<div class="m-4">
			<h4>Sabal FLR Centre</h4>
			<p>Total of species: {{ sabal_count }}</p>
			<p>Family: Dipterocarps, Non-dipterocarps, NTFP</p>
			<p>Total Area: 100 ha</p>
			<a class="btn btn-info" href="{% url 'sabal_species' %}">View species</a>
		</div>
	</div>

	<div class="border rounded shadow mt-4">
		<div class="m-4">
			<h4>Niah Forest Research Station</h4>
			<p>Total of species: {{ niah_count }}</p>
			<p>Family: Dipterocarps, Non-dipterocarps, NTFP</p>
			<p>Total Area: 100 ha</p>
			<a class="btn btn-info" href="{% url 'niah_species' %}">View species</a>
		</div>
	</div>

	<div class="border rounded shadow mt-4">
		<div class="m-4">
			<h4>IFRC Semenggoh</h4>
			<p>Total of species: {{ semenggoh_count }}</p>
			<p>Family: Dipterocarps, Non-dipterocarps, NTFP</p>
			<p>Total Area: 100 ha</p>
			<a class="btn btn-info" href="{% url 'semenggoh_species' %}">View species</a>
		</div>
	</div>

</div>

{% endblock %}