{% extends 'base.html' %}

{% block content %}

<div class="container h-100">

	<div class="border rounded shadow mt-4">
		<div class="m-4">
			<h3>Planting Programmes</h3>
			<p>You can view all the planting programmes that have been held througout Sarawak. </p>
			<a href="{% url 'planting_view_programme' %}" class="btn btn-info">View programme</a>
		</div>
	</div>

	<div class="border rounded shadow mt-4">
		<div class="m-4">
			<h3>Join Programme</h3>
			<p>You can participate in our planting programmes by register and selecting the species that you want. </p>
			<a href="{% url 'planting_partner_view' %}" class="btn btn-info">Join programme</a>
		</div>
	</div>
</div>

{% endblock %}