{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="text-center mt-4">
		{% if user.is_authenticated %}
			<a class="btn btn-info" href="{% url 'add_cart' %}">Add Species</a>
		{% endif %}
	</div>
	<div class="border rounded p-4 mt-4">
		<p class="text-content">Planting trees has never been easier. Now, anybody can join the restoration quest. It's just a few clicks away.</p>
		<p class="text-content"><strong>Step 1:</strong> Register your details. If you already registered, proceed the second step.</p>
		<p class="text-content"><strong>Step 2:</strong> Select the trees that you want to plant from the available catalogue below. The selected trees will be automatically listed into cart. You can check your dash board (top right) to view.</p>
		<p class="text-content"><strong>Step 3:</strong> Go to dashboard and check your list. Click 'Submit' to complete your application. </p>
	</div>
	<div class="text-center m-4">
		<p><i class="arrow down"></i></p>
	</div>
	<h5 class="text-center">Select from this catalogue</h5>
	<div class="text-center">
		<a href="dashboard.html"><button class="btn btn-primary m-4">Dashboard</button></a>
	</div>

	<!-- Tree List  Catalogue-->
	<div class="row">
		{% for species in object_list %}
		<div class="col-sm d-flex justify-content-center" style="margin: 20px;">
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="{{ species.get_cart_img }}" height="250">
			  <div class="card-body">
			  	<ul class="list-unstyled">
				    <h5 class="card-title">{{ species.cart_local_name }}</h5>
				    <p class="card-text"><i>{{ species.cart_scientific_name }}</i></p>
				</ul>
		    	<div class="d-flex">
		    		<a class="btn btn-info" href="#" role='button'>Add</a>
		    		<a class="btn btn-primary ml-4" href="{% url 'cart_species_view' species.pk %}" role='button'>View</a>
		    	</div>
			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}