{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
	<br>
	<div class="row">
		<div class="col-lg-12 border rounded p-4 mb-4 shadow">
			<div class="row">
				<div class="col">
					<p class="d-flex">Total quantity:</p>
					<h4 class="d-flex">800</h4>
				</div>
				<div class="col text-right">
					<a class="btn btn-success" href="#">Checkout</a>
				</div>
			</div>
		</div>

		<div class="col-lg-12 border rounded shadow">
			<br>
			<table class="table">
				<thead class="thead">
					<tr>
						<th scope="col">#</th>
						<th scope="col"></th>
						<th scope="col">Species</th>
						<th scope="col">Quantity</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
					<tr>
						<td><strong>{{ forloop.counter }}</strong></td>
						<td><img width="150" src="{{ item.species.get_cart_img }}"></td>
						<td>{{ item.species.cart_local_name }}</td>
						<td>{{ item.quantity }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}