{% extends "base.html" %}

{% block content %}

	<!-- Blog Post -->
	<div class="container mh-auto" style="min-height: 100%;">
		<h1 class="heading">Story</h1>

		<div class="content-container">
			<div class="container-fluid">
				<h2 class="font-weight-bold text-center">{{ post.title }}</h2>
				<div class="text-center">
				{% if user.is_authenticated %}
					<a href="{% url 'update_post' post.pk %}">Edit</a>
					<a href="{% url 'delete_post' post.pk %}">Delete</a>
				{% endif %}
				</div>

				<p class="text-muted text-center">{{ post.author }}<br>{{ post.date_created }}</p>
				<hr>
				<figure class="figure">
					<img src="{{ post.main_img }}" class=" container-fluid figure-img img-fluid rounded">
					<figcaption class="figure-caption text-right">{{ post.caption_main_img }}</figcaption>
				</figure>
				<hr>

				<p class="text-content">{{ post.content | safe }}</p>

				<!--<figure class="figure">
					<img src="img/partnership.png" class="figure-img img-fluid rounded">
					<figcaption class="figure-caption text-right">This is an image caption</figcaption>
				</figure>-->	
			</div>
		</div>
	</div>

{% endblock %}