{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1 class="heading h1-responsive">Latest Stories</h1>

	<div class="row">
		{% for post in post_list %}
		<div class="col-sm d-flex justify-content-center" style="margin: 20px;">
			<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{ post.main_img }}" height="200">
					<div class="card-body">
						<h5>{{ post.title }}</h5>
						<p class="text-muted">{{ post.author }}</p>
					</div>
					<div class="card-body d-flex align-items-end">
						<a href="blog_post.html"><button type="button" class="btn btn-info">Read More</button></a>
					</div>
					<div class="card-footer">
						<small class="text-muted">{{ post.date_created }}</small>
					</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}