{% load static %}

{% block item %}
	<div class="container align-items-center mt-4">
		<h3 class="pt-4 pb-4 font-weight-bold">Latest Stories</h3>
		<div class="row">
			{% for i in post_list %}
			<div class="col-sm-3">
				<!--square img eg 340 x 340 (px)-->
				<img class="w-100 mb-4" src="{{ i.get_thumbnail }}">
				<a class="text-dark" href="{% url 'blog_post' i.pk %}"><h6 class="text-left"><strong>{{ i.title }}</strong></h6></a>
				<p class="text-muted">{{ i.author.first_name }} {{ i.author.last_name }}</p>
				<small class="text-muted">{{ i.date_created }}</small>
			</div>
		{% endfor %}
		</div>
	</div>

{% endblock %}