{% load static %}

{% block item %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<h4 class="text-center">Analytics Overview</h4>
<hr>
<br>
<div class="row text-center">
  <div class="col">
    <p>Total number of species in all nurseries:</p>
    <h4>{{ total_species }}</h4>
  </div>
  <div class="col">
    <p>Total number of seedlings of all species:</p>
    <h4>{{ cumulative_species }}</h4>
  </div>
</div>

<br>

<div >
  <p class="text-center">Number of species in each nursery</p>
  <canvas id="speciesChart"></canvas>
</div>

<script >
  
  var ctx = document.getElementById('speciesChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [{% for i in label %}'{{ i }}',{% endfor %}],
          datasets: [{
              label: 'Number of species',
              data: [{% for i in data %}'{{ i }}',{% endfor %}],
              backgroundColor: [
                  'rgba(19, 111, 99, 1)',
                  'rgba(255, 186, 8, 1)',
                  'rgba(63, 136, 197, 1)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 0)',
                  'rgba(54, 162, 235, 0)',
                  'rgba(255, 206, 86, 0)',
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }],
              xAxes: [{
                  barPercentage: 0.3
              }]
          }
      }
  });

</script>

{% endblock %}